
body{
    background-color:#B1E1FF;
}

hr{
    /* border: 1px solid black; */
    border-style: none;
    border-top-style: dotted;
    width: 10%;
    border-color: grey;
    border-width: 5px;
}

img{
    height: 250px
    
}

h1{
    color: #A66CFF;
}
h3{
    color: #A66CFF;   
}

strong{
    font-size: 25px;
}
